body {
    font-size: 15px;
    font-family: "Trebuchet MS", Verdana, Helvetica, Sans-Serif;
    color: #232323;
    background-color: #fff;
}

#header {
    background-color: #007953;
    color: white;
    padding: 1px;
    text-align: center;
}

#footer {
    text-align: center;
    clear: both;
    font-size: x-small;
}

header,
footer,
nav,
section {
    display: block;
}

* {
    box-sizing: border-box
}

/* Set height of body and the document to 100% */
body, html {
    height: 100%;
    margin: 0;
    font-family: Arial;
}

/* Style tab links */
.tablinks {
    background-color: #3b3a30;
    color: white;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    font-size: 17px;
    width: 20%;
}

    .tablinks:hover {
        background-color: #777;
    }

/* Style the tab content (and add height:100% for full page content) */
.tabcontent {
    color: black;
    display: none;
    padding: 100px 20px;
    height: 100%;
}

/* On devices with screens 600px wide or less, menu links should stack on top of each other instead being next to each other */
@media screen and (max-width: 600px) {
    .tablinks, .tabcontent, .foot {
        float: none;
        width: 100%;
        font-size: 18px;
    }
}

img, iframe {
    max-width: 100%;
}

#About {
    background-color: #80ced6;
}

#Effects {
    background-color: #ff6a43;
}

#Metrics {
    background-color: #d9ad7c;
}

#Shortcomings {
    background-color: orange;
}

#Reflections {
    background-color: #c8c3cc;
}

.taleof {
    width: 600px;
    height: 600px;
}

.imghomerun {
    width: 600px;
    height: 500px;
}

.imgsweetspot {
    width: 600px;
    height: 500px;
    text-align: right;
}

.imgstatcast {
    width: 1200px;
    height: 900px;
    text-align: center;
}

.imgvelocity {
    width: 500px;
    height: 500px;
    text-align: right;
}

ol > li {
    padding-bottom: 4px;
    padding-top: 4px;
    font-weight: bold;
}
